<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.rfid.data.dataAdmin.TransportMapper">

    <insert id="addTransInfo">
        insert into transport (CAS_id, batchId, Num, State)
        values (#{transportVO.CAS_id},#{transportVO.batchId},#{transportVO.num},#{transportVO.State})
    </insert>

    <delete id="removeTransport">
        delete from transport where transport.TransportId = #{transportId}
    </delete>

    <update id="updateTransport">
        update transport set
        CAS_id = #{transportVO.CAS_id}, batchId = #{transportVO.batchId}, Num = #{transportVO.num}, State = #{transportVO.State}
        where
        transport.TransportId = #{transportVO.TransportId}
    </update>

    <select id="searchOneTransport" resultType="com.example.rfid.vo.TransportVO">
      select * from transport where transport.TransportId = #{TransportId}
    </select>

    <select id="searchTransport" resultType="com.example.rfid.vo.TransportVO">
      select * from transport
    </select>
</mapper>